<div class="add-celeb-page">
<h2>Add New Celeb</h2>

<form action="/create-the-celeb" method="POST">

<h1>Title<h1>
<input type="text" name="name" />

<h1>Occupation<h1>
<input type="text" name="occupation" />

{{!-- <h1>Image URL<h1>
<input type="text" name="img" /> --}}

<h1>Catchphrase<h1>
<input type="text" name="catchphrase" />
<br />

<button class="button">Save!</button>

</form>

</div>