<div class="add-movie-page">
<h2>Add New Movie</h2>

<form action="/create-the-movie" method="POST">

<h1>Title<h1>
<input type="text" name="theNewMovieTitle" />

<h1>Director<h1>
<input type="text" name="theDirectorForNewMovie" />

<h1>Image URL<h1>
<input type="text" name="img" />

<h1>Info<h1>
<input type="text" name="info" />
<br />

<button class="button">Save!</button>

</form>

</div>