<div class="one-celeb-page">
  {{!-- <img src="{{celeb.image}}" style="width: 300px"/> --}}
  <div class="celeb-page-info">
    <h1>{{celeb.name}}</h1>
    <h2>
    {{celeb.occupation}}
    </h2>
    <h3>
    {{celeb.catchphrase}}
    </h3>
  </div>
</div>