
<div class="one-movie-page">
  <img src="{{movie.image}}" style="width: 300px"/>
  <div class="movie-page-info">
    <h1>{{movie.name}}</h1>
    <h2>
    Director: {{movie.director}}
    </h2>
    <h3>
    {{movie.info}}
    </h3>
  </div>
</div>